<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Artista
                </th>
            </tr>
        </thead>
        <tbody>
            {% for album in  albums %}
            <tr>
                <td>
                    <a href="/album_detalhes/{{album.id}}">
                        {{ album }}
                    </a>
                </td>
                <td>
                    {{ album.artist.nome }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>